body{background-color: #282A35;
color:white;
position:relative;}
html{text-size-adjust: 100%;}

.main{position: absolute;
    top:auto;
    left:15%;
  width: 600px;
  height: 100px;


}

.topnav{
    position:sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a2c39;
}

.topnav li{
  float:left;
}

.topnav li a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav li a:hover{
    background-color: #111;}

.sidebar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color:#2a2c39;
    position: fixed;
    height: 100%;
      } 
      
.sidebar li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
.sidebar li a:hover{
    background-color: #555;
    color: white;}

.button{
        color: #fff;
        background-color:rgb(32, 148, 80) ;
        font: size 18px;
        font-family: 'Source Sans Pro', sans-serif;
        padding: 19px 19px;
        border-radius: 12px;}
    
.button1 {}   
.button2 {}
.button3 {}
    #t2 table, #t2 th, #t2 td {
        border:1px solid white;
        border-spacing:2px;
        }

    .t1 tr:nth-child(even){
     background-color: #38444d;     
     }
    .t1 tr:nth-child(odd){
        background-color: #282A35;
            }
    .t1 tr:nth-child(1){
        background-color: rgb(32, 148, 80);
            }