<header>
        <a href="/"><img src="pokemonlogo.png" class="logo"></a>
        <a href="fireStarters" class="fire">Fire Starters</a>
        <a href="grassStarters" class="grass">Grass Starters</a>
        <a href="waterStarters" class="water">Water Starters</a>
</header>
