body{background-color: #282A35;
    line-height: 1.5;
color:white}
html{text-size-adjust: 100%;}

div{
    position: fixed;
    top:150px;
    right:20px
}

.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(23, 23, 43);
}

.topnav li{
    float: left;
}

.topnav li a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav li a:hover{
    background-color: #111;}

.sidebar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: rgb(23, 23, 43);
    position: fixed;
    height: 100%;
    overflow: auto;
      } 
      
.sidebar li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
.sidebar li a:hover{
    background-color: #555;
    color: white;}

.button1{
        color: #fff;
        background-color:rgb(32, 148, 80) ;
        font: size 18px;
        font-family: 'Source Sans Pro', sans-serif;
        padding-left: 19px;
        padding-right:19px;
        border:1px solid #ccc;
        border-radius: 5px;
        float: left !important
        }
        .button2{
        color: #fff;
        background-color:rgb(32, 148, 80) ;
        font: size 18px;
        font-family: 'Source Sans Pro', sans-serif;
        padding-left: 19px;
        padding-right:19px;
        border:1px solid #ccc;
        border-radius: 5px;
        float: right !important;
        
        }
        .button3{
        color: #fff;
        background-color:rgb(32, 148, 80) ;
        font: size 18px;
        font-family: 'Source Sans Pro', sans-serif;
        padding-left: 19px;
        padding-right:19px;
        border:1px solid #ccc;
        border-radius: 5px;
        float: left !important;
        
        }
    #t2 table, #t2 th, #t2 td {
        border:1px solid white;
        border-spacing:2px;
        }

    .t1 tr:nth-child(even){
     background-color: #38444d;     
     }
    .t1 tr:nth-child(odd){
        background-color: #282A35;
            }
    .t1 tr:nth-child(1){
        background-color: rgb(32, 148, 80);
            }