header{ 
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:60px;
    background-color: black;
    color: white;
    top:0;
    left:0;
    width:100%;
    position:fixed;
    overflow: hidden;
}
a:link{
    color: white;
    text-decoration:none;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:20px;
    padding-right:20px;
}
a:visited{
    color:white;
    text-decoration:none;
}
a.fire:hover{
    color: rgb(0, 0, 0);
    background-color:rgb(248, 26, 26);
    text-decoration:none;
}
a.water:hover{
    color: rgb(0, 0, 0);
    background-color:rgb(26, 122, 248);
    text-decoration:none;
}
a.grass:hover{
    color: rgb(0, 0, 0);
    background-color:rgb(26, 248, 45);
    text-decoration:none;
}
a.fire:active{
    color:rgb(0, 0, 0);
    background-color: rgb(248, 26, 26);
    text-decoration:none;
}
a.water:active{
    color:rgb(0, 0, 0);
    background-color: rgb(26, 122, 248);
    text-decoration:none;
}
a.grass:active{
    color:rgb(0, 0, 0);
    background-color: rgb(26, 248, 45);
    text-decoration:none;
}
.logo{
    height: 50px;
    width:150px;
    margin:auto;
}
.pageBody{
    display:flex;
    justify-content: center;
}
.frontpageimg {

    margin-top: 100px;
    display: block;
}

footer {
    background-color: whitesmoke;
    color:black;
    position: absolute;
    bottom: 0;
    width: 100%;
}